version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  agent:
    build: .
    ports:
      - "5000:5000"
    env_file: 
      - .env
    privileged: true
    volumes:
      - /:/host:ro  # Read-only access to entire host filesystem,modify this to allow full Access
    depends_on:
      - redis

volumes:
  redis_data:

